*{
    font-family: Arial, Helvetica, sans-serif;
}

body{

    padding: 0px;
    margin: 0;
    height: 100vh;
    background-color: rgb(217, 224, 232);
}
/* main cointainer */
.container{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

/*sidebar menu*/
.sidebar{
    background-color: #357EC7;
    padding-left:20px;
    height: 100%;
    min-height : 100%;
    color:white;
    padding-right: 10px;
}



/*everything to the right of sidebar*/
.mainContent{
    grid-column-start: 2;
    grid-column-end: 7;
}

/*container with search, small and big admin name and buttons */
.header{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 50px 1fr;
    padding-left: 20px;
    padding-right: 20px;
    background-color: white;
    box-shadow: 0px 10px 10px -10px rgb(190, 188, 188);

}

/*Searchbar and name container*/
.searchBar{
    grid-column-start: 1;
    grid-column-end: 5;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    height: 50px;

}

.searchInputText{
    padding-top: 5px;
}

/*container for searchbar itself*/
.inputContainer{
    grid-column-start: 1;
    grid-column-end: 3;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}
.searchInput{
    grid-row-start: 2;
    grid-row-end: 3;
    height: 20px;
    align-items: center;
    border-radius: 15px;
    background-color: rgb(241, 239, 239);
}


/*name to the right*/
.adminName{
    grid-column-start: 5;
    grid-column-end: 6;
}

/*container for big admin name and buttons*/
.lowerHeader{
    grid-column-start: 1;
    grid-column-end: 5;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

}

.adminNameHeader{
    grid-column-start: 1;
    grid-column-end: 3;
}

.headerButtons{
    grid-column-start: 4;
    grid-column-end: 5;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 5px;

}

.headerButton{
    grid-row-start: 2;
    grid-row-end: 3;
    border-radius: 5px;
    background-color: #357EC7;
    color:white;
}
.headerButton:hover{
    color : yellow;
}
/*big container bellow header*/
.projectWindow{

    height: 85vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;


}

/*big project container*/
.projects{
    grid-column-start: 1;
    grid-column-end:  4;
    display: grid;
    grid-template-rows: 40px 1fr;

}
.projectsHeader{
    grid-row-start: 1;
    grid-row-end: 2;
}

.smallHeaders{
    padding-left: 20px;
    font-size: 17px;
}

.projectGrid{
    grid-row-start: 2;
    grid-row-end: 3;
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 20px;
    padding-left: 20px;
    padding-right: 20px;

}
.projectGrids{
    background-color: white;
    border-radius: 10px;
    box-shadow: 10px 5px 5px darkgray;
    padding: 10px;

}



/*container for announcements and trending*/
.rightProjectContainer{
    display: grid;
    grid-template-rows: 1fr 1fr;
}

/*announcements container*/
.announcements{
    display: grid;
    grid-template-rows: 40px 1fr;
}
.announcementsHeader{
    grid-row-start: 1;
    grid-row-end: 2;
}


/*tranding container*/
.trending{
    display: grid;
    grid-template-rows: 40px 1fr;
}
.trendingHeader{
    grid-row-start: 1;
    grid-row-end: 2;
}

.announcementsContainer, .trendingContainer{
    background-color: white;
    border-radius: 10px;
    box-shadow: 10px 5px 5px darkgray;
}

.trendingContainer{
    grid-row-start: 2;
    grid-row-end: 3;
}

.trendingContainer, .announcementsContainer{
    padding-left: 5px;
}
.profile:hover,
.messages:hover,
.history:hover,
.tasks:hover,
.communities:hover,
.settings:hover,
.support:hover,
.privacy:hover{
    color: yellow;
}



@media all and (max-width: 1000px){
    .projectGrid{
    grid-row-start: 2;
    grid-row-end: 3;
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 20px;
    padding-left: 20px;
    padding-right: 20px;
    }

